@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 20%;
  padding-top: 15px;
}
.logo-docplanner {
  width: 268px;
  height: 33px;
}
nav a {
  text-decoration: none;
  color: #ababab;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
nav a:hover {
  color: #00b3b5;
}
.d1 {
  width: 250px;
  height: 69px;
  display: flex;
  justify-content: space-between;
}
.d2 {
  text-align: center;
  margin-top: 5%;
}
h1 {
  color: #00b39b;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 34px;
}
.p1 {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #747474;
}
.s1 {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 100px;
}
.bdiv {
  background-color: #1ad1b9;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  padding: 25px;
}
.sdiv {
  width: 158px;
  height: 237.56;
}
.bdiv p {
  color: white;
  margin-bottom: 150px;
  font-size: 20px;
}
.title {
  font-weight: bold;
  color: white;
}
.bdiv a {
  color: white;
}
.bdiv2 {
  background-color: #5190e2;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  padding: 25px;
}
.link {
  color: white;
}
.para {
  color: white;
  margin-bottom: 150px;
  font-size: 20px;
}
.bdiv3 {
  background-color: #323d49;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  padding: 25px;
}
.s2 {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.dropbtn {
  color: #ababab;

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ababab;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.bdiv3 p {
  margin-bottom: 150px;
}
.bdiv:hover,
.bdiv2:hover,
.bdiv3:hover {
  opacity: 0.7;
}
